@import "tailwindcss";


@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit);
  --font-mono: var(--font-geist-mono);
  
  --color-neon-green: #ccff00;
  --color-neon-accent: #00ff99;
  
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  
  --sidebar: #0a0a0a;
  --sidebar-foreground: #ededed;
  --sidebar-primary: #ccff00;
  --sidebar-primary-foreground: #000000;
  --sidebar-accent: #1a1a1a;
  --sidebar-accent-foreground: #ccff00;
  --sidebar-border: #333333;
  --sidebar-ring: #ccff00;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Hide Scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@layer base {
  * {

  }
  body {
    @apply bg-background text-foreground;
  }
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
